# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
node-compile-cache
**/.DS_Store
dist
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env.local
.env.*.local
.node-version

src/types/auto-imports.d.ts
src/types/auto-imports.json
src/types/components.d.ts

*.tsbuildinfo
